@using cs_belt.Models
@model Event


<div class="page-header">
    <h1>Dojo Activity Center</h1>
    <h3><a href="/dashboard" style="margin-left:10rem">Home</a></h3>
    <h3><a href="/logout" style="margin-left:2rem;width:10rem">Logout</a></h3>
</div>
<br>
<div class="event-header flex-container">
    <h2>@Model.Title</h2>
    <a href="/accept/@Model.EventId" class="btn btn-primary">Join</a>
</div>
<div style="margin-left:5%">
    <h3>Event Coordinator:   @Model.Creator.FirstName</h3>
    <h3>Description: </h3>
    <p style="margin-left:10%">@Model.Details</p>
    <h3>Participants:</h3>
    <ul style="margin-left:5%">
    @foreach (var guest in @Model.Guests)
    {
        <li style="margin-left:3rem">@guest.Attendee.FirstName</li>
    }
    </ul>
</div>

